@model IEnumerable<MyLibrary.WebApp.DTOs.BookDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Books</h1>
<a class="btn btn-primary mb-3" asp-action="Create">Add Book</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Author</th>
            <th>Published Date</th>
            <th>Category Name</th>
            <th>Summary About Book</th>
            <th>Book Image</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Author</td>
                <td>@item.PublishedYear.ToString("MM/dd/yyyy")</td>
                <td>@item.CategoryName</td>
                <td>@item.SummaryAboutBook</td>
                <td>@item.BookImage</td>
                <td>
                    <a asp-action="Update" class="btn btn-success" asp-route-id="@item.Id">Güncelle</a>
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>